/* homes.css */

.home-background {
  width: max-content;
  height: max-content;
  background-color: white;
  margin: 0px;
}

.home-body {
  margin-top: 100px;
  background-color: white;
  width: 100vw;
  height: 100%;
  display: flex;
}

.left-half {
  background-color: white;
  width: 50vw;
  height: 88vh;
  display: grid;
  place-items: center;
}

.image-container {
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  gap: 10px;
}

.image1 {
  cursor: pointer;
  width: 280px;
}
.image2 {
  cursor: pointer;
  width: 280px;
}
.image3 {
  cursor: pointer;
  width: 280px;
}
.image4 {
  cursor: pointer;
  width: 280px;
}
.image5 {
  cursor: pointer;
  width: 280px;
  height:200px;
}

/* Add more styles as needed for individual images */
.image {
  max-width: 100%;
  max-height: 100%;
}
.leftthree{
  display: inline;
}
.righttwo{
  display: inline;
  margin-left: 0px;
}
