/* mypage.css */

  .mypage-container {
    width: 100vw;
    height: 120vh;
    background-color: #1E90FF;
    display: flex;
    align-items: flex-start;
    padding: 50px;
    color: white;
    font-size: 40px;
    position: relative;
  }

  .back-button {
    position: absolute;
    bottom: 15px;
    left: 10vw;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: #979fa6;
  }
  
  .rectangle {
    width: 70vw;
    height: 100vh;
    background-color: white;
    margin-top: 70px;
    display: flex; 
  
  }

  .rectangle img {
    text-align: center;
    margin-left: 15vw;
    width: 10vw;
    height: 90vh;
  }

  .user-info {
    color: black; 
    padding: 10px;
    margin-top: 30px;
    font-size: 50px;
  }
  
  .user-info h2 {
    margin-left: 20vw;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .account-info {
    margin-left: 20vw;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .account-info-input {
    width: 20vw;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top:0px;
    margin-left: 0px;
  }
  
  .account-info > div:nth-child(1),
  .account-info > div:nth-child(2),
  .account-info > div:nth-child(5)  {
    margin-bottom: 10px;
    border: 1px solid black; 
    padding: 5px; 
  }

  .account-info button {
    position: absolute;
    transform: translateY(-50%);
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 14px;
  }

  .matching-result {
    color: black; 
  }
  
  .matching-result h2 {
    margin-bottom: 10px;
  }

  .account-email{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .save-button-container {
    text-align: center; 
    margin-top: 0px; 
    margin-left: 20vw;
  }

  .save-button-container  .save-button {
    padding: 5px 15px;
    font-size: 15px;
    color: black;
    border-radius: 20px; 
    cursor: pointer;
  }
  
  .save-button-container .save-button:hover {
    background-color: #979fa6;
  }
  p {
    margin-left: 20vw;
    font-size: 16px; /* Change this value to adjust the font size */
    color: black;
    text-decoration: none;
  }
