
/* body{
    margin:0px;
} */
.reviews-background{
  background-color:#1E90FF;
  width:100vw;
  min-height: 100vh;
}
.backgroundmyposts{
  background-color: white;
  width:100vw;
  min-height:100vh;
}
.heads{
margin-top: 0px;
display: flex;

}
.backbutton{
  width:70px;
  height:40px;
  border-radius: 20px;
  font-weight: 800;
  font-size:larger;
  margin-top: 10px;
}
.mypostsbackbutton{
  width:100px;
  height:40px;
  font-weight: 800;
  font-size:larger;
  margin-top: 40px;
}
.reviews-back{
  margin-top: 0px;
  margin-left: 40px;

}
.headslogo{
  background-color: #1E90FF;
  margin-left: 100px;
  width:140px;
  height:140px;

}
.myposts{
  width:130px;
  height:40px;
  border-radius: 20px;
  font-weight: 800;
  font-size:larger;
  margin-top: 10px;
  margin-left: 390px;
}

h1.firsth1{
  width:250px;
  height:70px;
  margin-left: 310px;
  margin-top: 50px;
  color: white;
}
h1.secondh1{
  width: 700px;
  height:70px;
  margin-left: 520px;
  margin-top: 50px;
  color: gray;
}

.reviews-bigbox{
  background-color:white;
  width:95%;
  min-height:80vh;
  margin-left:50px; 
}

.bigboxmyposts{

  width:95%;
  height:80%;
  margin-left:50px; 
}

.middlebox{
  display:flex;
  align-items: center;
  
}
.middleboxmyposts{

}

img.pic{
  background-color: #1E90FF;
  margin-top: 15px;
  margin-left: 70px;
  width:120px;
  height:120px;
  border-radius: 60px;
}
.smallbox{
  background-color: #89CFF0;
  display: inline-block;
  padding :20px;
  border-radius: 20px;
  width : 1000px;
  height :110px;
  margin-left: 100px;
  margin-top:18px;
  display:flex;
  align-items: center;
}
.dividetext{
  display:flex;
  align-items: center;
}
.review-text{
  margin-left: 20px;
  font-size: 30px;
}
.review-textarea{
  width: 95%;
  height : 80px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius:20px;
  padding-left:10px;
  padding-top:10px; 
}
.buttonflex{
  display:center;
  
}
.fix{
  margin-top: 90px;
  margin-left: 650px;
}
.registerown{

  margin-left:890px;
  margin-top:0px;
  border-radius: 20%;
  width :70px;
  height :30px;
  font-size:12px;
  background-color:#89CFF0;
}

@media screen and (max-width: 600px){
  .heads{
  margin-top: 0px;  
  height: 55px;
  }
  .backbutton{
    width:40px;
    height:20px;
    border-radius: 20px;
    font-weight: 800;
    font-size:10px;
    margin-top: 15px;
  }
 /* .mypostsbackbutton{
    width:40px;
    height:20px;
    font-weight: 800;
    font-size:larger;
    margin-top: 40px;
  }*/
  .reviews-back{
    margin-top: 0px;
    margin-left: 10px;
    width: 20%;
  
  }
  .headslogo{
    margin-left: 20px;
    width:50px;
    height:50px;
  
  }
  .myposts{
    width:70px;
    height:20px;
    border-radius: 20px;
    font-weight: 800;
    font-size:10px;
    margin-top: 15px;
    margin-left: 35px;
  }
  
  h1.firsth1{
    width: 50px;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 10px;
  }
  h1.secondh1{
    width: 700px;
    height:70px;
    margin-left: 520px;
    margin-top: 50px;
  }
  
  .reviews-bigbox{
    width:300px;
    height:80%;
    margin-left:15px; 
  }
 /*
  .bigboxmyposts{
  
    width:95%;
    height:80%;
    margin-left:10px; 
  }
  */
  .middlebox{
    display:flex;
    align-items: center;
    width: 100%;
    height: 70px;
    
  }

  img.pic{
    margin-top: 0px;
    margin-left: 10px;
    width:35px;
    height:35px;
    border-radius: 60px;
  }
  .smallbox{
    border-radius: 20px;
    width : 200px;
    height :20px;
    margin-left: 10px;
    margin-top:20px;
  }
  .review-text{
    margin-left: 20px;
    font-size: 30px;
  }
form{
  display: flex;
}
  .review-textarea{
    width: 170px;
    height : 30px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius:20px;
    padding-left:10px;
    padding-top:10px;
  }
  .fix{
    margin-top: 90px;
    margin-left: 650px;
  }
  .registerown{

    margin-left:1px;
    margin-top:10px;
    border-radius: 20%;
    width :34px;
    height :20px;
    font-size:1px;

  }

}
